
.hidden-slogon{
    text-align: center;
}

@media (max-width: 767px) {

	.padding-zero-logo{
		padding:0px;
	}

	.height-div{
		margin-top:60px;
    }

    .hidden-slogon{
		display: none;
    }
    
    .comp{
        display:none;
    }
    .maingpage-button{
        margin-left:0px;
    }

    .school-choose-select{
        margin-top:1px;
    }
}
@media (min-width: 767px) {
    
    .phone{
        display:none;
    }
    .maingpage-button{
        margin-left:5px;
    }
}

@media (min-width: 767px) and (max-width: 1100px ){
    .hidden-slogon{
		display: none;
    }
}

.titleFont{
    font-size: 35px;
    margin:0px;
    padding-top:0px;
    padding-left:0px;
}
.logo1{
    width:150px;
    margin-top:6px;
}
.logo2{
    width:26px;
    margin-top:6px;
    margin-left:4px;
}
.logo3{
    width:150px;
    margin-top:24px;
    margin-left:4px;
}

.phonelogo1{
    width:100px;
    margin-top:18px;
    margin-left:0px;
    padding-right:2px;
    
}
.phonelogo2{
    width:23px;
    margin-top:15px;
    padding-right:2px;
    padding-left:2px;
}
.phonelogo3{
    width:100px;
    margin-top:28px;
    padding-left:2px;
}

.slogon{
    margin-top:15px;
    margin-right:10px;
    width: 80%;
}

.userPhotoId{
    margin-top:5px;
    border: 2px;
    width:40px;
    border-radius: 100%;
    border-style: solid;
    border-color: #FFF3DD;
}

.navElementPosition{
    padding-top:5px;
}

.theme-backcolor{
    background-color: #ffbd5b;
}

.theme-backcolor2{
    background-color:rgb(255, 238, 203);
}


.theme-backcolor1{
    background-color: #fcf9f4;
}

/* card color */
.theme-backcolor3{
    background-color: #FFF3DD;
    border-radius: 20px;
}

.theme-button{
    background-color: #FFAD27;   
}


.text-color{
    color:#ffffff;
}

.button-a-padding-margin-zero{
    margin:0px;
    padding:0px;
}

.button-upload-post-button{
    background-color:#FFAD27;
    color:#ffffff;
}

.button-add-course-button{
    background-color:#FF7345;
    color:#ffffff;
}
.logo-color{
    filter: brightness(0) invert(1);
}

.logo-color1{
    filter: saturate(100);
}

.main-pg-list-bg{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.main-pg-list-bg:hover{

    background-color: rgb(243, 218, 169); 
}

.main-pg-list-bg1{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.main-pg-list-bg1:hover{
    background-color: #dbdbda; 
}

.button-bg {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}



.button-course {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-course:hover {
    background-color: #f8470c; 
    color: #ffffff;
}

/*--------------user profile -----------------*/
.userprofile-button-bg{
    background-color: #FF9560;
    color:#ffffff;
}

.userprofile-button-bg:hover{
    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.6s;
    background-color: #fd7a38; 
    color:#ffffff;
}

@media (max-width: 700px ) {
	.userprofile-button-bg{
		padding: 6px;
		font-size: 14px;
	}
}